.gallery-container {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 7rem;
  padding: 40px 20px;
  text-align: center;
}

.gallery-title {
  font-size: 74px;
  margin-bottom: 10px;
  font-weight: 800;
  color: #4c5a65;
}

.gallery-subtitle {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #4c5a65;
}

.gallery-buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-bottom: 30px;
}

.gallery-buttons button {
  width: 184px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #1c3a3c;
  padding: 11px 18px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  color: #1c3a3c;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 549px;
  left: 100px;
}

/* Active or selected button (like "ALL" in the image) */
.gallery-buttons button.active {
  background-color: #1c3a3c;
  color: white;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
