.container {
  width: 100%;
  height: 70vh;
  transition: background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.image-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.brands {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.brand {
  flex: 1;
  text-align: center;
  padding: 1rem;
  margin: 0 0.5rem;
  /* border: 2px solid #333; */
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.brand:hover {
  transform: scale(1.05);
}

.brand img {
  height: 120px; /* adjust as needed */
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
